<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<!-- 
Based on Spectral by HMTL5 UP, modified by:

Copyright (c) 2015 Frank Kaddereit, Jens Vogel, http://www.fossa.de/

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
-->

<html lang="de">
<head>
<title>Goods 4 Refugees - Hilfe für Flüchtlinge</title>
<meta name="description" content="Womit kannst du in deiner Stadt helfen? Suche von Spenden, Tätigkeiten, materieller und immaterieller Unterstützung im Rahmen der Flüchtlingshilfe." />
<meta name="keywords" content="flüchtlingshilfe, spenden, unterstützung, koordination, asyl, flüchtlinge, willkommen" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="/assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>
<body>

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1>
				<a href="/">Goods 4 Refugees</a>
			</h1>
			<nav id="nav">
				<ul>
					<li class="special"><a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/impressum">Impressum</a></li>
								<li><a href="/datenschutzhinweis">Datenschutzhinweis</a></li>
								<li><a href="/backend">Login</a></li>
							</ul>
						</div></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<article id="main">
			<header>
				<h2>{{abgabestelle.name}}</h2>
				<p>in {{abgabestelle.ort.name}}</p>
			</header>
			<section class="wrapper style1">
				<div class="inner">
					<h2>Über {{abgabestelle.name}}</h2>
					<h3>Anschrift:</h3>
					<p>{{abgabestelle.anschrift}}</p>
					<h3>Ort:</h3>
					<p>
						<a href="/ort/{{abgabestelle.ort.name}}">{{abgabestelle.ort.name}}</a>
					</p>
					<h3>Öffnungszeiten:</h3>
					<p>{{{abgabestelle.oeffnungszeiten}}}</p>
					<h3>Ansprechpartner_in:</h3>
					<p>{{abgabestelle.ansprechpartner}}</p>
					<h3>Telefon:</h3>
					<p>{{abgabestelle.telefon}}</p>
					<h3>E-Mail:</h3>
					<p>
						<a href="mailto:{{abgabestelle.email}}">{{abgabestelle.email}}</a>
					</p>
					<h3>Internet:</h3>
					<p>
						<a href="{{abgabestelle.internet}}" target="_blank">{{abgabestelle.internet}}</a>
					</p>
					<h3>Kurzvorstellung:</h3>
					<p>{{{abgabestelle.kurzvorstellung}}}</p>
				</div>
			</section>
			<section class="wrapper style5">
				<div class="inner">
					<h2>{{abgabestelle.name}} sucht Spenden, Tätigkeiten, materielle und immaterielle
						Unterstützung</h2>
					{{^abgabestellenHilfsgueter}}
						<blockquote>zurzeit werden keine Spenden, Tätigkeiten, materielle und immaterielle Unterstützung benötigt</blockquote>
					{{/abgabestellenHilfsgueter}}
					<p>Klicke für weitere Informationen auf die jeweilige
						Bezeichnung. Wenn du dich für eine bestimmte Kategorie
						interessierst - klicke einfach auf den Namen der Kategorie.</p>
					<p>Die neuesten Einträge findest du ganz oben.</p>
					<table>
						<tr>
							<th>Was wird gesucht?</th>
							<th>Kategorie</th>
							<th class="hide_on_small_screen">Eingestellt am</th>
						</tr>
						{{#abgabestellenHilfsgueter}}
						<tr>
							<td><a href="/ort/{{abgabestelle.ort.name}}/hilfsgut/{{id}}">{{name}}</a></td>
							<td><a
								href="/ort/{{abgabestelle.ort.name}}/kategorie/{{kategorie.name}}">{{kategorie.name}}</a></td>
							<td class="hide_on_small_screen">{{angelegtDatumString}}</td>
						</tr>
						{{/abgabestellenHilfsgueter}}
					</table>
				</div>
			</section>
		</article>

		<!-- Footer -->
		<div id="include_footer"></div>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/assets/js/main.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script>
		$(function() {
			$("#include_footer").load("/assets/inc/footer.html");
		});
	</script>

</body>
</html>