<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<!-- 
Based on Spectral by HMTL5 UP, modified by:

Copyright (c) 2015 Frank Kaddereit, Jens Vogel, http://www.fossa.de/

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
-->

<html lang="de">
<head>
<title>Goods 4 Refugees - Hilfe für Flüchtlinge</title>
<meta name="description" content="Womit kannst du in deiner Stadt helfen? Suche von Spenden, Tätigkeiten, materieller und immaterieller Unterstützung im Rahmen der Flüchtlingshilfe." />
<meta name="keywords" content="flüchtlingshilfe, spenden, unterstützung, koordination, asyl, flüchtlinge, willkommen" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="/assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>
<body>

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1>
				<a href="/">Goods 4 Refugees</a>
			</h1>
			<nav id="nav">
				<ul>
					<li class="special"><a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/impressum">Impressum</a></li>
								<li><a href="/datenschutzhinweis">Datenschutzhinweis</a></li>
								<li><a href="/backend">Login</a></li>
							</ul>
						</div></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<article id="main">
			<header>
				<h2>Datenschutzhinweis</h2>
				<p></p>
			</header>
			<section class="wrapper style5">
				<div class="inner">
					<h3>Erhebung, Verarbeitung und Nutzung personenbezogener
						Daten:</h3>
					<p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe
						personenbezogener Daten möglich. Soweit auf unseren Seiten
						personenbezogene Daten (beispielsweise Name, Anschrift oder
						eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich,
						stets auf freiwilliger Basis. Diese Daten werden ohne Ihre
						ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>
					<p>Wir weisen darauf hin, dass die Datenübertragung im Internet
						(z.B. bei der Kommunikation per E-Mail) Sicherheitslücken
						aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff
						durch Dritte ist nicht möglich.</p>
					<p>Der Nutzung von im Rahmen der Impressumspflicht
						veröffentlichten Kontaktdaten durch Dritte zur Übersendung von
						nicht ausdrücklich angeforderter Werbung und
						Informationsmaterialien wird hiermit ausdrücklich widersprochen.
						Die Betreiber der Seiten behalten sich ausdrücklich rechtliche
						Schritte im Falle der unverlangten Zusendung von
						Werbeinformationen, etwa durch Spam-Mails, vor.</p>
					<p>Sonstige personenbezogene Daten erheben wir nur, wenn und
						soweit Sie uns diese im Zuge der Nutzung unser Dienstleistungen
						(z. B. in dem Fall, dass Sie über den Menüpunkt "Kontakt" eine
						Nachricht an uns senden) freiwillig mitteilen. Wir verwenden die
						von Ihnen eingegebenen Daten nur soweit, wie dies zur Nutzung
						unserer Dienstleistungen beziehungsweise etwaig entsprechenden
						Funktionalitäten auf der Internetseite erforderlich ist.</p>
					<h3>Übermittlung von Daten:</h3>
					<p>Ihre Daten werden nicht an Dritte übermittelt.</p>
					<p>Soweit für die Bereitstellung unserer Leistungen externe
						Unternehmen eingeschaltet werden, sind diese durch Vereinbarungen
						zur Auftragsdatenverarbeitung an ein hohes Datenschutzniveau
						gebunden und werden von uns regelmäßig entsprechend kontrolliert.
						Hierbei handelt es sich derzeit insbesondere um das externe
						Rechenzentrum der Hetzner Online AG (Hetzner Online AG,
						Industriestr. 25, 91710 Gunzenhausen).</p>
					<p>Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per
						Kontaktformular oder bei der Eintragung in einen ggf. angebotenen
						Newsletter werden die Angaben des Nutzers zwecks Bearbeitung der
						Anfrage sowie für den Fall, dass Anschlussfragen entstehen, per
						E-Mail übertragen. Wir nutzen dafür den Mailservice Formspree
						(https://formspree.io/), welcher den Service der Mailgun, Inc.
						(Mailgun, Inc. Attn: Privacy Officer 620 Folsom St, Ste 100 San
						Francisco, CA 94107) verwendet. Weitere Informationen zur
						Speicherung von Daten, insbesondere zur Safe Harbour
						Zertifizierung (https://safeharbor.export.gov/companyinfo.aspx?id=26607), finden
						Sie auf http://www.mailgun.com/privacy.</p>
					<h3>Datensicherheit:</h3>
					<p>Wir weisen jedoch darauf hin, dass die Übertragung Ihrer
						Daten über den Menüpunkt „Kontakt“ an uns in unverschlüsselter
						Form erfolgt, sodass technisch ein Zugriff auf diese Daten während
						des Kommunikationszeitraums nicht ausgeschlossen werden kann.
						Unsere Webseiten sind durch dazu geeignete technische Maßnahmen
						gegen Beschädigung, Zerstörung, unberechtigten Zugriff geschützt.</p>
					<h3>Auskunfts- & Widerrufsrecht:</h3>
					<p>Sie erhalten jederzeit ohne Angaben von Gründen kostenfrei
						Auskunft über Ihre bei uns gespeicherten Daten. Sie können bei
						Vorliegen der gesetzlichen Voraussetzungen jederzeit Ihre bei uns
						gespeicherten Daten sperren, berichtigen oder löschen lassen. Sie
						können jederzeit die uns erteilten Einwilligung zur
						Datenspeicherung und -verwendung ohne Angaben von Gründen
						widerrufen. Wenden Sie sich dazu an kontakt@goods4refugees.org.</p>
					<p>Ihre personenbezogenen Daten werden nicht an Dritte
						übermittelt, es sei denn, wir sind dazu gesetzlich verpflichtet
						oder Sie erteilen uns zuvor eine entsprechende Einwilligung.</p>
				</div>
			</section>
		</article>

		<!-- Footer -->
		<div id="include_footer"></div>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/assets/js/main.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script>
		$(function() {
			$("#include_footer").load("/assets/inc/footer.html");
		});
	</script>

</body>
</html>